/* Fonts */

@font-face {
  font-family: 'Memetica';
  src: url('../fonts/HelveticaLight.woff') format('woff');
}

/* Styles */

*, *: after, *: : before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body,
#root {
  height: 100%;
}

a {
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

body {
  /* background-color: rgb(249, 237, 211); */
  background: linear-gradient(rgba(244, 244, 244, 0.8), rgba(244, 244, 244, 0.8)),
    url('../images/creampaper.png') repeat scroll 0% 0%;
  font-family: Helvetica, Memetica, sans-serif;
  font-weight: lighter;
}

b,
strong {
  font-weight: bold;
}

.textEditor-enter {
  animation: 0.8s slideInDown ease;
}

.textEditor-leave {
  animation: 0.8s slideInUp ease;
}

.textEditor-appear {
  animation: 0.8s slideInDown ease;
}

/* Add button svg style */
.add-button-oval:hover circle {
  fill: #3a8efc;
}

/* Noty overrides */
#noty_layout__bottomRight {
  bottom: 50px;
  right: 20px;
  width: 325px;
}
